.backdrop {
	width: 320px;
	height: 480px;
	margin: 0 auto;
	top: 0px;
	left: 0px;
	position: fixed;
	background-color: #ADD8E6;
}

.window {
	width: 290px;
	height: 450px;
	margin: 0 auto;
	margin-top: 15px;
	background-color: #e3e3e3;
	border-radius: 20px;
}

.title1, .title2, .title3, .language, .languages {
	font-size: 50px;
	color: #fff;
	font-family: "Avenir", sans-serif;
	margin: 0 auto;
	text-align: center;
}

.title1 {
	padding-top: 20px;
}

.title2 {
	line-height: 30px;
}

.title3 {
	font-size: 30px;
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
}

.otter {
	width: 100px;
	margin: 0 auto;
	margin-bottom: 10px;
	padding-left: 95px;
	padding-top: 15px;
}

.otter2 {
	width: 40px;
	float: left;
	margin-left: 20px;
	padding-top: 10px;
	padding-right: 20px;
}

.language {
	font-size: 20px;
	padding-top: 5px;
}

.languages {
	text-decoration: none;
	font-size: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}

li {
	padding-top: 5px;
	padding-bottom: 5px;
}

.language-box {
	width: 200px;
	height: 40px;
	background-color: #ff45e4;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #888888;
}

a {
	text-decoration: none;
	color: #fff;
}

.icon-box {
	width: 240px;
	height: 280px;
	border: 5px solid #ff45e4;
	margin-top: 15px;
	margin-left: 20px;
}

.chatbox {
	width: 240px;
	height: 280px;
	font-size: 14px;
}

#chat {
	width: 230px;
	height: 270px;
	font-size: 14px;
}